.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 810px;
}

.u-section-1 .u-shape-1 {
  width: 796px;
  height: 696px;
  margin: 57px auto 0;
}

.u-section-1 .u-form-1 {
  height: 181px;
  width: 570px;
  margin: -438px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  width: 300px;
  margin: -425px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  width: 214px;
  margin: 306px auto 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: bold;
  width: 699px;
  margin: -550px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    width: 486px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-top: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-text-1 {
    width: 226px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: 340px;
  }
}
